@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AvenirMedium";
  src: url("../Fonts/Avenir/Avenir-Medium-09.ttf") format("ttf");
  font-family: "AvenirHeavy";
  src: url("../Fonts/Avenir/Avenir-Heavy-05.ttf") format("ttf");
  font-family: "Valencia";
  src: url("../Fonts/Valencia/Valencia.ttf") format("ttf");
  /* Additional font properties can be added here */
}
